<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-contact-heading">Create or edit a Contact</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!contact.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="contact.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="contact.name" required maxlength="20"/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.maxlength">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_role">Role</label>
                    <select class="form-control" name="role" [(ngModel)]="contact.role" id="field_role"  required>
                        <option value="STUDENT">STUDENT</option>
                        <option value="ACADEMIC">ACADEMIC</option>
                    </select>
                    <div [hidden]="!(editForm.controls.role?.dirty && editForm.controls.role?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.role?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_contactEmail">Contact Email</label>
                    <input type="text" class="form-control" name="contactEmail" id="field_contactEmail"
                        [(ngModel)]="contact.contactEmail" required/>
                    <div [hidden]="!(editForm.controls.contactEmail?.dirty && editForm.controls.contactEmail?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.contactEmail?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
